<div class="page-header">
    <h1>Device Management</h1>
    <hr>
    
            
</div>



<div class="row">

<div class="col-sm-5">

    
    <app-device #jbChildInstance [deviceName]="'Device 1'" [deviceDesc]="'Device information'"></app-device>
    <app-device #jbChildInstance [deviceName]="'Device 2'"></app-device>
    <app-device #jbChildInstance [deviceName]="'Device 3'"></app-device>    
    <app-device #jbChildInstance [deviceName]="'Device 4'"></app-device>
</div>

<div class="col-sm-1"></div>

<div class="col-sm-5">
    
    <button class="btn btn-outline-secondary" ngbDropdownToggle>Manage Device</button>
        <div ngbDropdownMenu>
                <button class="dropdown-item" [routerLink]="['/device-form']" (click)="_deviceManagementService.addDevice()">Add device</button>
                <button class="dropdown-item" (click)="_deviceManagementService.removeDevice()">Remove device</button>
                <button class="dropdown-item" (click)="_deviceManagementService.save()">Save</button>
        </div>    

</div>    
        
